*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container
{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg,#40128B ,#9336B4 );
}

.box
{
  width: 370px;
  height: 230px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 0px 0px 20px rgb(24, 23, 23);
   
}

.heading
{
  font-weight: bolder;
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 25px;
  color: rgba(5, 5, 5, 0.895);
  
}

.info
{
  margin-bottom: 10px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

input{
  width: 80%;
  height: 30px;
  border-radius: 7px;
  padding: 5px;
  margin: 10px;
  outline-style: none;
  border-style: none;
  
}

button
{
  color:rgb(6, 130, 231);
  background-color: black;
  width:80%;
  height: 30px;
  margin: 10px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  outline-style: none;
  transition: font-size 4000ms 
  ease;
  transition: width 400ms ease;
}

button:hover
{
  font-size: 20px;
  width: 83%;
}
